@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?dhz1hj');
  src:  url('fonts/icomoon.eot?dhz1hj#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?dhz1hj') format('truetype'),
    url('fonts/icomoon.woff?dhz1hj') format('woff'),
    url('fonts/icomoon.svg?dhz1hj#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-bell-o:before {
  content: "\e900";
}
.icon-youtube:before {
  content: "\e901";
}
.icon-facebook:before {
  content: "\e902";
}
.icon-instagram:before {
  content: "\e903";
}
.icon-twitter:before {
  content: "\e904";
}
.icon-repo-forked:before {
  content: "\e905";
}
