*{
  margin: 0;
}

ul{
  background-color: #E00109;
}

li{
  list-style: none;
}

.title{
  color: #FFF;
  margin-left: 80px;
  font-size: 40px;
}

#bar{
  background-color: #5C5C66;
  width: auto;
  height: 40px;
}

.theme{
  color: #fff;
  margin-left: 10px;
  margin-right: 10px;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
}

.mini{
  background-color: #4E4E5A;
  width: 1000px;
  height: 40px;
  margin-left: 125px;
  margin-top: -40px;
}

#icons{
  margin-left: 500px;
  position: relative;
}

#icon1,
#icon2,
#icon3,
#icon4{
  color: #fff;
  font-size: 20px;
}

#background{
  width: 1000px;
  height: 1000px;
  background-color: #FFFFFF;
  margin-left: 125px;
}
body{
  background-color: #EBEBEB;
}
